@font-face {
  font-family: 'BM Yeonsung';
  src: url('https://yoo-heasol.github.io/rat-zodiac/fonts/BMYeonsung.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('https://yoo-heasol.github.io/rat-zodiac/fonts/NanumMyeongjo.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  margin: 0;
  padding: 0;
  background: url('images/bg_rat.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bm-title,
.chat-text {
  font-family: 'BM Yeonsung', sans-serif;
}

.svg-message-text,
.message-text {
  font-family: 'Nanum Myeongjo', serif;
}

.svg-wrapper {
  position: relative;
  scale: 120%;
  margin: 0 auto;
  margin-top: 30px;
}

.svg-background {
  width: 100%;
  height: 100%;
}

.svg-message-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #62472F;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  padding: 36px;
  box-sizing: border-box;
}

.svg-message-text div {
  margin-bottom: 8px;
  font-size: 20px;
  animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mouse-container {
  margin-top: auto;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chat-bubble {
  position: relative;
  scale: 140%;
  padding-right: 20px;
}

.chat-bubble img {
  width: 160px;
  margin-bottom: 20%;
}

.chat-text {
  position: absolute;
  top: 30%;
  left: 7%;
  transform: translateY(-30%);
  width: 130px;
  font-size: 11px;
  color: #836B56;
  font-family: 'BM Yeonsung';
  text-align: center;
  line-height: 130%;
}

.mouse {
  width: 80px;
  margin-left: 0px;
}

.bm-title {
  margin-top: 40px;
  text-align: center;
  color: #FFF;
  font-size: 33.409px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.10);
}

.message-box {
  position: relative;
  width: 254px;
  height: 196px;
  margin-top: 20px;
}

.message-box img {
  width: 100%;
  height: 100%;
}

.message-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 254px;
  height: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #62472F;
  text-align: center;
  font-family: Nanum Myeongjo;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

* {
  box-sizing: border-box;
}


